.avatar {
  background-image: url("./avatar2.webp");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: purple;
  color: #fff;
  margin-right: 10px;
}
