.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-container {
  width: 500px;
}

.react-chatbot-kit-chat-bot-message {
  margin-right: 43%;
}

.react-chatbot-kit-user-chat-message {
  background-color: #4aa96c;
  color: #fff;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #4aa96c;
}
